body {
  margin: 0;
  font-family: Dosis;
}

header {
  box-shadow: 0 10px 6px -6px #777;
}

.site-header {
  top: 0;
  left: 0;
  width: 100%;
}

.logo-image {
  padding-top: 6px;
  box-sizing: border-box;
}

.logo-image>img {
  width: 115px;
  height: 68px;
}

.nav-middle-area {
  align-self: center;
  display: flex;
  flex: 1;
}

.nav-middle-area>div {
  padding: 1em;
}

footer>div {
  text-align: center;
  background: #e9e9e9;
  font-weight: bold;
  padding: 1%;
}

.item-card {
  display: flex;
  margin-top: 7%;
  align-items: center;
  box-shadow: -7px 24px 28px -16px rgba(0, 0, 0, 0.53);
}

.item-card {
  display: flex;
  margin-top: 2%;
  align-items: center;
  box-shadow: -7px 24px 28px -16px rgba(0, 0, 0, 0.53);
  min-height: 218px;
}

main :nth-child(odd) {
  flex-direction: row-reverse;
}

main {
  margin-top: 80px;
  min-width: 500px;
  min-height: 500px;
}

.card-text-1 {
  padding: 2%;
  font-weight: 700;
  font-size: 28px;
}

.card-text-2 {
  padding: 2%;
  font-weight: 400;
  font-size: 25px;
}

.BUTTON_TKB {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 100;
  padding: 11px;
  background-color: #c32958;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.create-account {
  display: flex;
}

main {
  margin-top: 80px;
  width: 80%;
  margin: auto;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.mobile-actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.cart-logo {
  background: #e9e9e9;
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-content {
  flex: 2;
  text-align: center;
}

/** Media querries for phones only. */
@media only screen and (max-width : 768px) {
  main {
    width: 100%;
  }

  .nav-content {
    width: 100%;
  }

  .create-account {
    display: none;
  }

  .mobile-actions {
    padding: 13px;
  }

  .nav-middle-area {
    display: none;
  }
}
