/* Common Variables */
$buttonRightCaptionTop:70%
$buttonRightCaptionLeft:60%

$buttonLeftCaptionTop:65%
$buttonLeftCaptionLeft:30%


body
  font-family: $font-stack-consolas

.page

.content
  width: $page-size
  margin-left: auto
  margin-right: auto
  margin-top: 150px

a
  color: $brand-dark
  text-decoration: none
  &:hover
    color: $brand-primary


.menu
  list-style-type: none
  color: $brand-dark
  bottom: 0
  font-weight: bold
  margin-left: 80px
  &__item
    float: left
    margin-left: 5px
    margin-right: 5px
  &:hover
    color: $brand-primary

.container
  position: relative
  width: 100%
  max-width: 400px
  img
    width: 100%
    height: auto
  .btn-right
    position: absolute
    top: $buttonRightCaptionTop
    left: $buttonRightCaptionLeft
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    background-color: $brand-primary
    color: white
    font-size: 16px
    padding: 12px 24px
    cursor: pointer
    text-align: center
    &:hover
      background-color: shade($brand-primary, 10%)
  .caption-right
    position: absolute
    top: $buttonRightCaptionTop - 60
    left: $buttonRightCaptionLeft - 15
    color: 050505
    font-size: 30px
    font-weight: bold
    padding: 12px 24px
    text-align: center
  .sub-caption-right
    position: absolute
    top: $buttonRightCaptionTop - 30
    left: $buttonRightCaptionLeft - 15
    color: 050505
    font-size: 18px
    padding: 6px 12px
    text-align: center
  .btn-left
    position: absolute
    top: $buttonLeftCaptionTop
    left: $buttonLeftCaptionLeft
    transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    background-color: $brand-primary
    color: white
    font-size: 16px
    padding: 12px 24px
    cursor: pointer
    text-align: center
    &:hover
      background-color: shade($brand-primary, 10%)
  .caption-left
    position: absolute
    top: $buttonLeftCaptionTop - 60
    left: $buttonLeftCaptionLeft - 15
    color: 050505
    font-size: 30px
    font-weight: bold
    padding: 12px 24px
    text-align: center
  .sub-caption-left
    position: absolute
    top: $buttonLeftCaptionTop - 30
    left: $buttonLeftCaptionLeft - 30
    color: 050505
    font-size: 18px
    padding: 6px 12px
    text-align: center

.img-shadow
    -webkit-box-shadow: 0 8px 7px -6px #ccc
    -moz-box-shadow: 0 8px 6px -6px #ccc
    box-shadow: 0 8px 6px -6px #ccc

#{$all-buttons}
  font-family: Dosis
  background: $brand-primary
  border-radius: 0px

  &:hover
    background: shade($brand-primary, 10%)

.vertical-center
  position: relative
  top: 50%
  transform: translateY(-50%)

.form
  &__row
    font-weight: bold
    position: relative
    margin-bottom: 20px

  &__input
    font-size: 18px
    padding: 10px 10px 10px 5px
    display: block
    width: $form-elmnt-width
    border: none
    border-bottom: 2px solid #ACACAC
    border-radius: 0px
    font-weight: bold
    background-color: #FCFCFC
    box-shadow: none
    &:focus
      outline: none
      border: none
      border-bottom: 2px solid #2FB9C6
      border-radius: 0px
      box-shadow: none
  &__submit
    width: $form-elmnt-width
