/* Register */
$form-elmnt-width: 300px
.register
  &__left
    +span-columns(6)
    float: left
    color: #000
  &__heading
    padding-top: 80px
    font-weight: bold
    text-align: left
    font-size: 26px
    text-transform: none
  &__details
      font-size: 16px
      font-weight: bold

  &__right
    +span-columns(6)
    float: right
    padding-top: 40px
    input
      font-family: Dosis
